:root {
    --ajudante: #00ff15;
    --moderador: #038012;
}



.moderador {
    color: var(--moderador);
    text-shadow:
        0 0 5px var(--moderador),
        0 0 10px var(--moderador);
}

.ajudante {
    color: var(--ajudante);
    text-shadow:
        0 0 5px var(--ajudante),
        0 0 10px var(--ajudante);
}

.auxilio-punicao-text {
    display: flex;
    gap: 0.6em;
    margin: 1em;
}

.factions-minas {
    display: flex;
    gap: 1em;
    justify-content: center;
    margin-top: 1em;

}